---
layout: archive
permalink: /year-archive/
title: "Blog"
author_profile: true
classes: wide
redirect_from:
  - /wordpress/blog-posts/
---
<blockquote> “But you see, I have, let’s say, sixty years to live. Most of that time will be spent working. I’ve chosen the work I want to do. If I find no joy in it, then I’m only condemning myself to sixty years of torture. And I can find the joy only if I do my work in the best way possible to me.”
― Ayn Rand.
</blockquote>


{% for post in site.posts %}
  {% if post.categories contains 'blog' %}
		<!-- <h2 class=class="archive__subtitle"><a href="{{ post.url }}">{{ post.title }}</a></h3> -->
    {% include archive-single.html type="grid"%}
  {% endif %}
{% endfor %}
